fastapi
uvicorn[standard]
gunicorn
pandas
scikit-learn
xgboost
joblib
paddleocr>=2.7.3
paddlepaddle>=2.6.0
requests
numpy==1.26.4
python-multipart
email-validator
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
opencv-python
Pillow