fastapi
uvicorn[standard]
gunicorn
pandas
scikit-learn
xgboost
joblib
paddleocr==2.7.2
paddlepaddle-gpu==2.5.2
requests
numpy==1.26.4
python-multipart
email-validator
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
opencv-python
Pillow